@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

/* HEADER & NAVBAR*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 75px;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* HOME PAGE */

#hero {
    background-image: url("images/hero_background.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("images/button.png");
    background-color: transparent;
    color: #163b38;
    border: 0;
    padding: 25px 80px 14px 26px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fe-box {
    width: 165px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin: 15px 0;
}

#features .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 20px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#features .fe-box:nth-child(2) h6 {
    background-color: #a8cafa;
}

#features .fe-box:nth-child(3) h6 {
    background-color: #e1fa7d;
}

#features .fe-box:nth-child(4) h6 {
    background-color: #f9c180;
}

#features .fe-box:nth-child(5) h6 {
    background-color: #7befb1;
}

#features .fe-box:nth-child(6) h6 {
    background-color: #fe88fa;
}

#features .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#product1 {
    text-align: center;
}

#product1 .prod-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .prod {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .prod:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .prod img {
    width: 75%;
    border-radius: 20px;
}

#product1 .prod .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .prod .desc span {
    color: #606063;
    font-size: 16px;
    font-weight: 500;
}

#product1 .prod .desc h5 {
    color: #1a1a1a;
    padding-top: 7px;
    font-size: 18 px;
}

#product1 .prod .desc svg {
    font-size: 16px;
    color: rgb(243, 185, 25);
}

#product1 .prod .desc h4 {
    padding-top: 7px;
    font-size: 19px;
    font-weight: 700;
    color: #088178;
}

#product1 .prod .cart {
    width: 45px;
    height: 26px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border-color: 1px solid #cce7d0;
    position: absolute;
    bottom: 25px;
    right: 23px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/background02.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: rgb(239, 33, 33);
    font-weight: 900;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

#sec-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sec-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("images/banner_2.png");
    min-width: 580px;
    height: 45vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 20px;
}

#sec-banner .banner-box2 {
    background-image: url("images/banner_3.png");
}

#sec-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sec-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sec-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sec-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("images/banner_4.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h2 {
    color: #f62525;
    font-weight: 800;
    font-size: 15px;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box2 {
    background-image: url("images/banner_1.png");
}

#banner3 .banner-box3 {
    background-image: url("images/banner_5.png");
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/newsletter-background.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #F3F9F9;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #044b5b;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #fea11e;
}

#newsletter input {
    height: 3.12rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
}

#newsletter .form {
    display: flex;
    width: 40%;

}

#newsletter button {
    background-color: #088178;
    border: 1px solid #000;
    white-space: nowrap;
    margin-left: 8px;
    color: #fff;
}

#newsletter button:hover {
    background-color: #044b5b;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .about {
    margin-top: 80px;
}

footer .follow svg {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow svg:hover,
footer a:hover {
    color: #088178;
}

footer .map img {
    border-radius: 16px;
}

footer .copy {
    width: 100%;
    text-align: center;
}

/* Shop Page */

#shop-hero {
    background-image: url(images/shop-banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#shop-hero h2,
#shop-hero p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

/* product detail */

#pro-detail {
    display: flex;
    margin-top: 25px;
}

#pro-detail .m-prod-img {
    width: 40%;
    margin-right: 50px;
}

.sec-prod-img-col {
    display: flex;
    justify-content: space-between;
}

.prod-img-sec img {
    width: 70%;
}

.prod-img-sec {
    flex-basis: 24%;
    cursor: pointer;
}

#pro-detail .prod-desc {
    width: 50%;
    padding: 30px;
}

#pro-detail .prod-desc h4 {
    padding: 25px 0 15px 0;
}

#pro-detail .prod-desc h2 {
    font-size: 26px;
}

#pro-detail .prod-desc input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-detail .prod-desc input:focus {
    outline: none;
}

#pro-detail .prod-desc button {
    background: #088178;
    color: #fff;
}

/* contact */

#contact-hero {
    background-image: url(images/contact-banner.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#contact-hero h2{
    font-size: 70px;
}
#contact-hero h2,
#contact-hero p {
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}

/* About Page */

#about-hero {
    background-image: url(images/about-banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#about-hero h2,
#about-hero p {
    color: #fff;
}


#about-head h3{
    font-size: 28px;
}

#about-head h4{
    font-size: 22px;
    margin-top: 20px;
}

#about-head p{
    color: #000;
    padding: 0 100px 0 35px;
    text-align: justify;
}

/* cart page */

#cart-hero {
    background-image: url(images/cart-hero.webp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#cart-hero h2,
#cart-hero p {
    color: #fff;
}

#cart h1{
    color: red;
    font-size: 50px;
}

/* Media query */

@media(max-width:799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile a {
        margin-right: 20px;
    }

    #mobile svg {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: -1px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: initial;
    }

    #bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .prod-container {
        justify-content: center;
    }

    #product1 .prod {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sec-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #sec-banner .banner-box {
        margin-top: 20px;
    }

    #banner3 {
        flex-direction: column;
        padding: 0 40px;
    }

    #newsletter input {
        height: 3.12rem;
        padding: 0 1.25rem;
        font-size: 14px;
        width: 220px;
        border: 1px solid #000;
        border-radius: 4px;
        outline: none;
    }

    #pro-detail {
        display: flex;
        flex-direction: column;
    }

    #pro-detail .m-prod-img {
        width: 100%;
        margin-right: 0;
    }

    #pro-detail .prod-desc {
        width: 100%;
    }

    #about-head p{
        text-align: justify;
    }

    #about-head p{
        padding: 0 40px 0 15px;
    }

    #contact-hero h2{
        font-size: 45px;
    }




}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
        height: 40vh;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .prod {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sec-banner .banner-box {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    footer a img {
        width: 100%;
    }

    footer .copy {
        text-align: start;
    }

    #pro-detail {
        display: flex;
        flex-direction: column;
    }

    #pro-detail .m-prod-img {
        width: 100%;
        margin-right: 0;
    }

    #pro-detail .prod-desc {
        width: 100%;
    }
}